@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	/**/
	.header__heading
		text-align: center
	.header__upload
		font-size: 1em
		padding: 10px 10px 10px 12px

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	/**/
	body
		font-size: 14px
	.header__inscription
		text-align: center
	.header__subheading
		text-align: center
	.header__photo
		margin: auto
	.header__upload
		margin: auto
		padding: 10px 10px 10px 30px
		margin-bottom: 10px
	.header__upload-info
		margin: auto
		margin-bottom: 20px
	.header__description
		margin: auto



/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
	/**/
	body
		font-size: 12px

/* Custom, iPhone Retina */
@media only screen and (max-width : 319px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

