@import "bourbon"

$helvetica_regular: "helvetica_regular", sans-serif
$helvetica_light: "helvetica_light", sans-serif
$helvetica_bold: "helvetica_bold", sans-serif
$input_color: rgba(0, 0, 0, 0.6)
$heading_color: rgba(60, 59, 59, .7)
$subheading_color: rgba(132, 127, 127, .77)
$font_color: rgb(158, 161, 159)
$photo_color: rgb(233, 233, 233)
$photo_bg: rgb(190, 190, 190)
$link: rgb(229, 8, 8)
$button: rgb(17, 147, 154)
$white: rgb(255, 255, 255)
$black: rgb(0, 0, 0)


@mixin transition
	-webkit-transition: 0.4s ease
	-moz-transition: 0.4s ease
	-ms-transition: 0.4s ease
	-o-transition: 0.4s ease
	transition: 0.4s ease

@mixin placeholder
	&[type='text']::-webkit-input-placeholder
		color: #767676
	&[type='text']::-moz-placeholder
		color: #767676
	&[type='text']:-moz-placeholder
		color: #767676
	&[type='text']:-ms-input-placeholder
		color: #767676
	&[type='text']::-webkit-input-placeholder
		color: #767676
	&[type='text']::-webkit-input-placeholder
		color: #767676
	&[type='text']::-moz-placeholder
		color: #767676
	&[type='text']:-moz-placeholder
		color: #767676
	&[type='text']:-moz-placeholder
		color: #767676
	&[type='text']:-ms-input-placeholder
		color: #767676
	&:focus::-webkit-input-placeholder
		color: transparent
	&:focus::-moz-placeholder
		color: transparent
	&:focus:-moz-placeholder
		color: transparent
	&:focus:-ms-input-placeholder
		color: transparent
	&::-webkit-input-placeholder
		color: #c0d3cd
	&::-moz-placeholder
		color: #c0d3cd /* Firefox 19+ */
	&:-moz-placeholder
		color: #c0d3cd /* Firefox 18- */
	&:-ms-input-placeholder
		color: #c0d3cd